<!-- insert nav bar here -->
 <main id="genre-index">

    <%= render "/nav_bar" %>

    <h1>search by genre</h1>

    <nav class="category-search">
        <div class="nav-element">
            <% @genres_all.each do |genre| %>
                <%=link_to genre_path(genre.id), :class => "link-to" do %>
                <p><%=genre.title%></p>
                <%end%>
            <%end%>
        </div>
    </nav>    

    <%= render "/listings" %>
</main>