<main id="edit-page">

    <%= render "/nav_bar" %>

    <div class="heading">
        <h1> Edit Artwork </h1>
    </div>

    <%= render "/form", content:@content %>

    <footer>
    </footer>

</main>