<div id="show">
    <%= render "/nav_bar" %>

    <h1> this is the singular result page </h1>


    <!-- icon linking to payment -->
    <!-- icon linking to DM -->
    <!-- icon linking to artists profile -->

</div>
    
