    <div class="nav_bar">
        <div class="search">
            <input type="text" placeholder="Search"/>
        </div>
        <!--buttons for desktop (display off for phone) -->

        <form action="/INSERTROUTE" class="desktop_nav">
            <button>test</button>
        </form>

        <!--dropdown menu -->

        <div class="dropdown">
            <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="aboutme.html">Explore</a>
                    <a href="contact.html">Sell</a>
                    <a href="content.html">Learn</a>
                    <a href="blog.html">Profile</a>
                    <a href="index.html">Contact</a>
                </div>
        </div>
    </div>