<main id="contact">
    <%= render "/nav_bar" %>
    <!-- insert nav bar here -->

    <h1> Need to contact us?</h1>
    <p> 
        Sweet roll dessert liquorice. Caramels macaroon chupa chups marzipan powder cheesecake sugar plum. Pudding bear claw jelly beans muffin caramels danish. Cheesecake cake cake liquorice pudding tart gingerbread jelly topping. Lemon drops danish cheesecake chupa chups caramels cookie tootsie roll.
    </p>

</main>