
<div id="explore_page">
    <!-- insert nav bar here -->

    <h1>this is the explore page</h1>

    <div class="flexbox">
        
        <%= link_to mediums_path do %>
            <div class="medium-image">Medium</div>
        <%end%>

        <%= link_to genres_path do %>
            <div class="genre-image">Genre</div>
        <%end%>

        <%= link_to artists_path do %>
            <div class="artist-image">Artist</div>
        <%end%>

        <%= link_to results_all_path do %>
            <div class="all-image">All</div>
        <%end%>

    </div>
</div>