
<div id="explore_page">
    <!-- insert nav bar here -->

    <h1>Explore</h1>

    <div class="flexbox">

        <div class="medium-image">
            <%= link_to mediums_path do %>
                <div>
                    <p>Medium</p>
                </div>
            <%end%>
        </div>

        <div class="genre-image">
            <%= link_to genres_path do %>
                <div>
                    <p>Genre</p>
                </div>
            <%end%>
        </div>

        <div class="artist-image">
            <%= link_to artists_path do %>
                <div>
                    <p>Artist</p>
                </div>
            <%end%>
        </div>

        <div class="all-image">
            <%= link_to results_all_path do %>
                <div>
                    <p>All</p>
                </div>
            <%end%>
        </div>

    </div>
</div>