<div id="home_page">

    <%= render "/nav_bar" %>

    <!--pictures and paras -->
    <main>     
        <h1>BUY!<h1>
        <div class="buy-image"></div>
        <h6>
            Topping gummies marzipan powder chocolate gummies ice cream. Lollipop macaroon sesame snaps chocolate cake chupa chups cookie. Fruitcake cheesecake liquorice. Sweet powder chupa chups. Cheesecake topping liquorice chocolate macaroon jelly-o. Fruitcake biscuit macaroon toffee gummies marzipan pie. Bonbon sesame snaps cheesecake lemon drops marshmallow.
        </h6>
        <div class="p">
            <p><%= link_to "explore", explore_path, :class => "link-to"%></p>
        </div>
        <h6>____________________________________________________________________</h6>
        


        <h1>SELL!<h1>
        <div class="sell-image"></div>
        <h6>
            Topping gummies marzipan powder chocolate gummies ice cream. Lollipop macaroon sesame snaps chocolate cake chupa chups cookie. Fruitcake cheesecake liquorice. Sweet powder chupa chups. Cheesecake topping liquorice chocolate macaroon jelly-o. Fruitcake biscuit macaroon toffee gummies marzipan pie. Bonbon sesame snaps cheesecake lemon drops marshmallow.
        </h6>
        <div class="p">
            <p><%= link_to "sell", sell_path, :class => "link-to"%></p>
        </div>

        <h6>____________________________________________________________________</h6>


        <h1>LEARN!<h1>
        <div class="learn-image"></div>
        <h6>
            Topping gummies marzipan powder chocolate gummies ice cream. Lollipop macaroon sesame snaps chocolate cake chupa chups cookie. Fruitcake cheesecake liquorice. Sweet powder chupa chups. Cheesecake topping liquorice chocolate macaroon jelly-o. Fruitcake biscuit macaroon toffee gummies marzipan pie. Bonbon sesame snaps cheesecake lemon drops marshmallow.
        </h6>
        <div class="p">
            <p><%= link_to "learn", home_path, :class => "link-to"%></p>
        </div>



    </main>
</div>