
<div id="home_page">

    <%= render "/nav_bar" %>

    <!--pictures and paras -->
    <main>     
        <h1>Buy!<h1>
        <div class="buy-image"></div>
        <p>
            Topping gummies marzipan powder chocolate gummies ice cream. Lollipop macaroon sesame snaps chocolate cake chupa chups cookie. Fruitcake cheesecake liquorice. Sweet powder chupa chups. Cheesecake topping liquorice chocolate macaroon jelly-o. Fruitcake biscuit macaroon toffee gummies marzipan pie. Bonbon sesame snaps cheesecake lemon drops marshmallow.
        </p>

        <h1>Sell!<h1>
        <div class="sell-image"></div>
        <p>
            Topping gummies marzipan powder chocolate gummies ice cream. Lollipop macaroon sesame snaps chocolate cake chupa chups cookie. Fruitcake cheesecake liquorice. Sweet powder chupa chups. Cheesecake topping liquorice chocolate macaroon jelly-o. Fruitcake biscuit macaroon toffee gummies marzipan pie. Bonbon sesame snaps cheesecake lemon drops marshmallow.
        </p>

        <h1>Learn!<h1>
        <div class="learn-image"></div>
        <p>
            Topping gummies marzipan powder chocolate gummies ice cream. Lollipop macaroon sesame snaps chocolate cake chupa chups cookie. Fruitcake cheesecake liquorice. Sweet powder chupa chups. Cheesecake topping liquorice chocolate macaroon jelly-o. Fruitcake biscuit macaroon toffee gummies marzipan pie. Bonbon sesame snaps cheesecake lemon drops marshmallow.
        </p>
    </main>
</div>