<h1>this is the profile page</h1>

<!-- image uploaded by user or default image -->
<img src="https://cdn1.iconfinder.com/data/icons/flat-character-color-1/60/flat-design-character_6-512.png">
<h1> **user name** </h1>
<p> 
    **user bio**
    Pie pastry wafer liquorice chocolate cake. Bear claw soufflé apple pie lemon drops dessert jujubes tiramisu. Sesame snaps apple pie croissant. Sweet roll icing sweet roll cupcake. Lollipop tiramisu danish macaroon jelly
</p>

<button>tutorials</button>
<button>donate</button>
<button>subscribe</button>

<!-- then feed of Content uploaded with titles and prices -->


