<h1>this is the sell page</h1>

<!-- insert nav bar here --> 
<!-- image upload capability here -->
<button type="submit">upload</button>


<!-- place holders - will insert ruby form later -->
<div class="name-price-container">
    <section>
        <input type="text" placeholder="Title"/>
    </section>

    <section>
        <input type="text" placeholder="Price"/>
    </section>
</div>

<div class="medium">
    <h3>Choose medium</h3>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
</div>

<div class="genre">
    <h3>Choose genre</h3>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
    <input type="checkbox"/>
</div>

<button>submit</button>