<div id="show">

    <h1> this is the singular result page </h1>

    <!--insert nav bar here -->
    <img src="#">
    <p> **content title**<p>
    <p> **content price**<p>
    <p> **content user**<p>
    <p> **content medium**<p>
    <p> **content genre**<p>

    <!-- icon linking to payment -->
    <!-- icon linking to DM -->
    <!-- icon linking to artists profile -->

    <%= link_to results_all_path do %>
        <button type="submit">back</button>
    <% end %>

</div>
    
