<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to The Art Club</h1>
    <button>Continue as guest</button>
    <h1>OR</h1>

    <!--sign up form -->
    <div>
        <form>
            <div class="container">
                <h3>Join The Art Club!</h3>
                <p>Please fill in this form to create an account.</p>

                <div>
                    <label for="username">Username</label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                </div>
                <div>
                    <label for="name">Name</label>
                    <input type="text" placeholder="Enter Name" name="name" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" placeholder="Enter Email" name="email" required>
                </div>
                <div>
                    <label for="psw">Password</label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                </div>
                <div>
                    <label for="psw-repeat">Repeat Password</label>
                    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                </div>
                <div class="join_button">
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
    
</body>
</html>