<% @medium.contents.each do |content| %>
<h2><%= content.title %></h2>
<%= image_tag content.pic if content.pic.attached? %>
<p><%= number_to_currency(content.price / 100.0) %></p>
<%end%> 

<!-- need medium join table for contents -->