<!-- insert nav bar here -->
<div id="mediums-index">
    <%= render "/nav_bar" %>

    <h1>Sort by medium</h1>

    <nav class="category-search">
        <div class="nav-element">
            <% @mediums_all.each do |medium| %>
                <%=link_to medium_path(medium.id), :class => "link-to" do %>
                <p><%=medium.material%></p>
                <%end%>
            <%end%>
        </div>
    </nav>  
      
    <%= render "/listings" %>

</div>