#back-button {
    p {
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        text-decoration: none;
        background-color:  #FF8484;
        padding: 1vh 2vw;
        border-radius: 0.25em;
        text-align: center;
        width: 3em;
        margin-left: 7.5%;
    }   
    .link-to {
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-shadow: grey 1px 1px;
    }
}