@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

#show {
    background-color: #4DCCBD;

    .artwork-image {
        text-align: center;
    
    }

    .artwork-details {
        width: 85vw;
        margin: auto;
    }

    img {
        border: rgb(238, 238, 238) 8px solid;
        box-shadow: rgb(75, 75, 75) 3px 3px 5px;
        width: 200px;
    }

    h2 {
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        width: 200px;
        margin: auto;
        margin-top: 5%;

    }

    p {
        text-align: left;
        margin: auto;
        color: rgb(255, 255, 255);
        width: 200px;
        margin-top: 5%;

    }

    button {
        font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 1em;
            text-decoration: none;
            background-color: #ff8484;
            padding: 1vh 2vw;
            border-radius: 0.25em;
            text-align: center;
            color: rgb(255, 255, 255);

    }
}

//breakpoints
@media screen and (min-width: 500px) {
    #show {
        img {
            width: 300px;
        }
        h2 {
            font-size: 2em;
            width: 300px;
        }
        p {
            font-size: 1.5em;
            width: 300px;
        }
    }

}
