@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

#sell-page {  
    background-color: #4DCCBD;

    .heading {
        text-align: center;
        color: white;
        margin: 0 10% 0 10%
    }
    .pic-upload { 
        color: white;
        text-align: center;
        margin: 5%;
        input {
            color: rgb(255, 255, 255);
            background-color: #4DCCBD;
        }
        .upload {
            color: rgb(255, 255, 255);
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            text-decoration: none;
            border: none;
            background-color:  #FF8484;
            padding: 1vh 2vw;
            border-radius: 0.25em;
            text-align: center;
        }
    }

    .text-field {
        text-align: center;
        margin: 5%;

        input {
            color: rgb(255, 255, 255);  
            border: white 2px solid; 
            border-radius: 0.25em;
            background: #4DCCBD;
            text-align: center;
            padding: 1vh 2vw; 
        }
    }

    h3 {
        text-align: center;
        color: white;
        margin: 5%;
    }

    .checkbox {
        width: 85vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: baseline;
        color: rgb(255, 255, 255);

        input {
            margin: 1%;
        }
        label {
            margin: 1%;
        }
    }
    .submit {
        text-align: center;

        input {
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        text-decoration: none;
        border: none;
        background-color:  #FF8484;
        padding: 1vh 2vw;
        border-radius: 0.25em;
        text-align: center;
        margin: auto;
        margin-bottom: 7.5%;
        margin-top: 2.5%;
        }
    }
}  

//breakpoints
@media screen and (min-width: 600px) {
    #sell-page {
        .text-field {
            text-align: center;
            margin: 5%;
    
            input {
                color: rgb(255, 255, 255);  
                border: white 2px solid; 
                border-radius: 0.25em;
                background: #4DCCBD;
                text-align: center;
                padding: 1vh 2vw; 
                width: 300px;
            }
        }
        .checkbox {
            width: 60vw;
        }
    }
}