@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

#delete-page {
    background-color: #4DCCBD;
    min-height: 100vh;
    text-align: center;

    h1 {
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
    }

    .button {
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        text-decoration: none;
        border: none;
        background-color:  #FF8484;
        padding: 1vh 2vw;
        border-radius: 0.25em;
        text-align: center;
    }
}