@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

#mediums-index {
    background-color: #4DCCBD;
    width: 100%;

    .category-search {
        background-color: #FF8484;
        overflow: auto;
        white-space: nowrap;
        width: 85vw;
        margin: auto;
        border-radius: 0.25em;
        margin-top: 10%;

        .nav-element {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;

            .link-to {
                text-decoration: none;
            }

            p {
                display: inline;
                color: rgb(255, 255, 255);
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                text-decoration: none;
                background-color:  rgb(214, 91, 91);
                padding: 1vh 2vw;
                border-radius: 0.25em;
                
            }
        }
          
    }

    .flexbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

            .listings {
                display: inline;
                text-align: center;
                img {
                    width: 30vw;
                }
            }
    }

}