@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

#home_page {
    
    background-color: #4DCCBD;
    width: 100%;
    margin: 5%;

    .buy-image {
        background-image: image-url("buy-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 75%;
        height: 5em;
        margin: auto;
    }
    .sell-image {
        background-image: image-url("sell-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 75%;
        height: 5em;
        margin: auto;
    }
    .learn-image {
        background-image: image-url("learn-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 75%;
        height: 5em;
        margin: auto;
    }

    h1 {
        text-align: center;
        color: rgb(255, 255, 255);
    }

    h6 {
        text-align: center;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        color: rgb(255, 255, 255);
        width: 85vw;
        margin: auto;
    }

    .p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        background-color: #ff8484;
        padding: 0.01em;
        border-radius: 0.25em;
        width: 100px;
        text-align: center;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 3%;
        .link-to {
            text-decoration: none;
            color: rgb(255, 255, 255);
            text-shadow: grey 1px 1px;
            font-weight: 600;
            margin: auto;
    
        }
    }
}

//breakpoints
@media screen and (min-width: 500px) {
    #home_page {
        .buy-image {
            width: 75%;
            height: 7em;
        }
        .sell-image {
            width: 75%;
            height: 7em;
        }
        .learn-image {
            width: 75%;
            height: 7em;
        }
    }
}

@media screen and (min-width: 700px) {
    #home_page {
        .buy-image {
            width: 75%;
            height: 9em;
        }
        .sell-image {
            width: 75%;
            height: 9em;
        }
        .learn-image {
            width: 75%;
            height: 9em;
        }
    }
}