@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');

#explore_page {

    background-color: rgb(255, 227, 194);
    min-height: 100vh;

    h1 {
        color: #4DCCBD;
        text-align: center;
        // margin-top: 10%;
        // font-size: 50px;
    }

    p {
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        text-align: center;
        margin-top: 40%;
        text-shadow: rgb(0, 0, 0) 2px 2px;
    }

    .flexbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        .medium-image {
            width: 150px;
            height: 150px;
            background-image: image-url("paintbrushes_2.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 1vh;
            text-decoration: none;
                &:hover {
                    cursor: pointer;
                }
        }
        .genre-image {
            width: 150px;
            height: 150px;
            background-image: image-url("comics.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 1vh;
                &:hover {
                    cursor: pointer;
                }
        }

        .artist-image {
            width: 150px;
            height: 150px;
            background-image: image-url("paintman.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 1vh;
                &:hover {
                    cursor: pointer;
                }

        }
        .all-image {
            width: 150px;
            height: 150px;
            background-image: image-url("paint_on_canvas.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 1vh;
                &:hover {
                    cursor: pointer;
                }
        }
        .link-to {
            text-decoration: none;
        }
            
    }

    footer {
        height: 20%;
    }
    
}
        //breakpoints

@media screen and (min-width: 450px) {
    #explore_page {
        .flexbox {
            .medium-image {
                width: 200px;
                height: 200px;
            }
            .genre-image {
                width: 200px;
                height: 200px;
            }
            .artist-image {
                width: 200px;
                height: 200px;
            }
            .all-image {
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media screen and (min-width: 620px) {
    #explore_page {
        .flexbox {
            .medium-image {
                width: 230px;
                height: 230px;
            }
            .genre-image {
                width: 230px;
                height: 230px;
            }
            .artist-image {
                width: 230px;
                height: 230px;
            }
            .all-image {
                width: 230px;
                height: 230px;
            }
        }
    }
}

@media screen and (min-width: 710px) {
    #explore_page {
        .flexbox {
            .medium-image {
                width: 150px;
                height: 150px;
            }
            .genre-image {
                width: 150px;
                height: 150px;
            }
            .artist-image {
                width: 150px;
                height: 150px;
            }
            .all-image {
                width: 150px;
                height: 150px;
            }
        }
    }
}


@media screen and (min-width: 850px) {
    #explore_page {
        .flexbox {
            .medium-image {
                width: 200px;
                height: 200px;
            }
            .genre-image {
                width: 200px;
                height: 200px;
            }
            .artist-image {
                width: 200px;
                height: 200px;
            }
            .all-image {
                width: 200px;
                height: 200px;
            }
        }
    }
}
        
@media screen and (min-width: 1050px) {
    #explore_page {
        p {
            font-size: 1.5em;
        }
        .flexbox {
            .medium-image {
                width: 250px;
                height: 250px;
            }
            .genre-image {
                width: 250px;
                height: 250px;
            }
            .artist-image {
                width: 250px;
                height: 250px;
            }
            .all-image {
                width: 250px;
                height: 250px;
            }
        }
    }
}
        
            