@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

#results {
    background-color: #4DCCBD;

    // sub catagory nav bar
    .category-search {
        background-color: #FF8484;
        overflow: auto;
        white-space: nowrap;
        width: 85vw;
        margin: auto;
        border-radius: 0.25em;

        .nav-element {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;

            .link-to {
                text-decoration: none;
                color: rgb(255, 255, 255);
            }
        }

        p {
            display: inline;
            color: rgb(255, 255, 255);
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            text-decoration: none;
            background-color:  rgb(214, 91, 91);
            padding: 1vh 2vw;
            border-radius: 0.25em;
            text-align: center;
            
        }
          
    }

    .flexbox {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 5%;
        width: 85vw;
        text-align: center;
            
        img {
            width: 100px;
            border: rgb(238, 238, 238) 8px solid;
            box-shadow: rgb(75, 75, 75) 3px 3px 5px;
        }

        h2 {
            font-size: 100%;
            width: 100px;
            text-align: center;
            color: rgb(255, 255, 255);
        }
        p {
            color: rgb(255, 255, 255);
        }

    }

    
    
}
        //breakpoints
        @media screen and (min-width: 500px) {
            #results {
                .flexbox {
                    img {
                        width: 200px;
                    }
                    h2 {
                        width: 200px;
                    }

                }
                
            }
        }