#home_page {
    
    background-color: red;
    height: 100vh;

    .buy-image {
        background-image: image-url("buy-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 30vw;

    }
        
    
}

        //breakpoints
        @media screen and (min-width: 320px) {
        
        }