#results {

    .flexbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
            
        
        .listing {
            width: 50vw;
            height: auto;
            background-image: image-url("paintbrushes_2.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
    
}
        //breakpoints
        @media screen and (min-width: 320px) {
            .desktop_nav{
                display: block;
            }
            }