@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

#profile {
    background-color: rgb(255, 227, 194);

    //.profile-picture {
        //background-image: **user upload**
    //}
    h1 {
        color: #FF8484;
        text-align: center;
    }
    p {
        color: #FF8484;
        text-align: center;

    }

}