body {
    //text formatting
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    
    //button formatting

    button {
        text-align: center;
    }
}


//breakpoints
@media screen and (min-width: 320px) {

}