@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

#profile {
    background-color: rgb(255, 227, 194);

    //.profile-picture {
        //background-image: **user upload**
    //}
    h1 {
        color: #FF8484;
        text-align: center;
    }
    p {
        color: #FF8484;
        text-align: center;

    }
    img {
    text-align: center;    
    margin-top: 10%;
    width: 10%;
    }

}

//breakpoints
@media screen and (min-width: 320px) {
    .desktop_nav{
        display: block;
    }
}