<div class="flexbox">
    <% @artworks_all.each do |artwork| %>
        <div class="listings">
            <%= image_tag artwork.pic if artwork.pic.attached? %>
            <h2><%= artwork.title %></h2>
            <p><%= number_to_currency(artwork.price / 100.0) %></p>
        </div> 
    <% end %>
</div>